<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Performance Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Training Performance Report</h1>
    Data Distribution Report for the SelecEval run at {{ date.strftime('%Y-%m-%d %H:%M:%S') }}.
    <div class="row">
        <h3>Comparison of round participation per algorithm</h3>
        <img src="figures/client_reliability_comparison.svg">
    </div>
    <div class="row">
        <h3>Comparison of training accuracy per round</h3>
        <img src="figures/training_accuracy_comparison.svg">
    </div>
    <div class="row">
        <h3>Comparison of average execution time per round</h3>
        <img src="figures/execution_time_comparison.svg">
    </div>

</div>
</body>
</html>